$heading: (
  colors: global-settings(colors),
  sizes: (
    mobile: (
      default: (
        font-size: 48px,
        line-height: 1.35,
      ),
      big: (
        font-size: 70px,
        line-height: 0.95,
      ),
      huge: (
        font-size: 100px,
        line-height: 0.95,
      ),
    ),
  )
);

.heading {
  @extend %heading-reset;
  font-weight: 900;
  color: inherit;
  text-transform: uppercase;

  &__color {
    @include modifiers-deep($heading, colors, color);
  }

  &__size {
    @include responsive-modifiers($heading, sizes);
  }

  &__align {
    @include text-align-modifiers;
  }
}
