$lists: (
  default: (
    mobile: (
      font-size: 18px,
      line-height: 1.67,
    ),
  ),
);

.lists {
  margin: 0;
  padding: 0;
  font-weight: 300;

  @include responsive($lists, default);

  li {
    margin-left: 22px;
    list-style: none;

    &:last-child {
      padding-bottom: 0;
    }

    &::before {
      content: '\2014';
      margin-right: 15px;
    }
  }
}
