$paragraph: (
  sizes: (
    mobile: (
      default: (
        font-size: 18px,
        line-height: 1.67,
      ),
    ),
  ),
  colors: global-settings(colors),
);

.paragraph {
  @extend %paragraph-reset;
  font-weight: 300;

  &__color {
    @include modifiers-deep($paragraph, colors, color);
  }

  &__size {
    @include responsive-modifiers($paragraph, sizes);
  }

  &__align {
    @include text-align-modifiers;
  }
}
