$btn: (
  colors: (
    primary: (
      normal: (
        background-color: global-settings(colors, primary),
        color: global-settings(colors, white),
      ),
      hover: (
        background-color: global-settings(colors, mina),
      ),
    ),
  ),
  sizes: (
    mobile: (
      default: (
        font-size: 14px,
        line-height: 1,
        height: 41px,
        text-transform: uppercase,
        margin-top: 20px,
      ),
    ),
  )
);

.btn {
  @extend %button-reset;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px 35px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
  transition: {
    property: background-color, color, border-color;
    timing-function: ease-in;
    duration: 0.3s;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &__size-width {
    &--block {
      display: flex;
      width: 100%;
    }
  }

  &__color {
    @include link-modifiers($btn, colors);
  }

  &__size {
    @include responsive-modifiers($btn, sizes);
  }
}
